[submodule "implementing/submodules/quickstart-aws-vpc"]
	path = implementing/submodules/quickstart-aws-vpc
	url = git@github.com:aws-quickstart/quickstart-aws-vpc.git
	branch = master
[submodule "cfn-workshop/submodules/quickstart-aws-vpc"]
	path = cfn-workshop/submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
